// ==========================================
// ; Title: Exercise 5.3 - Pug Templates
// ; Author: Kevin Jones
// ; Date: 26 January 2021
// ; Description: This is the index page for
// ; exercise 5.3
// ; ========================================

html
  head
    title Pug Template Engine
  body
    h2= message
