<footer class="text-center p-4 bg-gray-200 text-sm sm:text-lg">
  <p>
    <a href="https://github.com/joneskj55" target="_blank" aria-label="github"
      ><i aria-hidden="true" id="github-icon" class="fab fa-github social"></i
    ></a>
    <a href="https://kevinjones.engineer" target="_blank" class="p-4"
      >Kevin Jones Global Software, Est. 2016</a
    >
    <a
      href="https://linkedin.com/in/joneskj55"
      target="_blank"
      aria-label="linkedin"
      ><i aria-hidden="true" class="fab fa-linkedin social"></i
    ></a>
  </p>
</footer>
