<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>

  <body>
    <%- include('navbar') %>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3" style="text-align: center">
          Employee Management System
        </h1>
        <p style="text-align: center">
          Manage all of your employee records from this page.<br />
          Enter a new employee.<br />
          View a list of all employees. <br />View data on a specific employee.
        </p>
      </div>
    </div>
  </body>
  <%- include('footer') %> <%- include('scripts') %>
</html>
