<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>

  <body>
    <%- include('navbar') %>
    <h1 class="jumbotron">Employee Management System</h1>
    <body></body>
  </body>
  <%- include('footer') %> <%- include('scripts') %>
</html>
