<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>

  <body class="flex flex-col min-h-screen">
    <%- include('navbar') %>
    <main class="flex-grow">
      <h1 class="text-7xl font-bold" style="text-align: center">
        Employee Management System
      </h1>
      <br />
      <p class="text-3xl font-light mb-20" style="text-align: center">
        Manage, enter, and view all employee information from this page.
      </p>
      <div class="container mx-auto px-6 pt-10">
        <div class="sm:flex sm:mt-8">
          <div
            class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around"
          >
            <div class="flex flex-col">
              <span class="font-bold text-gray-700 mb-2 text-2xl"
                >Enter a new employee</span
              >
              <span class="mb-2"
                ><p>
                  Add a new employee.<br />
                  Another sentence about adding stuff.<br />
                  And yet, a third sentence.
                </p></span
              >
              <span>
                <a href="/new">
                  <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >
                    Enter
                  </button>
                </a>
              </span>
            </div>
            <div class="flex flex-col">
              <span class="font-bold text-gray-700 mb-2 text-2xl"
                >View a list of all employees</span
              >
              <span class="mb-2"
                ><p>
                  View a list of all current employees.<br />
                  Another sentence about lists.<br />
                  And a third to even it out.
                </p></span
              >
              <span>
                <a href="/list">
                  <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                  >
                    View
                  </button>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('footer') %> <%- include('scripts') %>
</html>
