<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>

  <body>
    <%- include('navbar') %>

    <h1 class="text-7xl font-bold" style="text-align: center">
      View Employees
    </h1>

    <a href="/">Make a back button for this</a>
  </body>
  <%- include('footer') %>
</html>
