<nav
  class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-blue-500 shadow sm:items-baseline w-full mb-20"
>
  <div class="mb-2 sm:mb-0">
    <a href="/" class="text-2xl no-underline text-white hover:text-black"
      >EMS</a
    >
  </div>
  <div>
    <a
      href="/view"
      class="text-lg no-underline text-white hover:text-black ml-2"
      >Manage</a
    >
    <a href="/new" class="text-lg no-underline text-white hover:text-black ml-2"
      >Enter</a
    >
    <a
      href="/list"
      class="text-lg no-underline text-white hover:text-black ml-2"
      >View</a
    >
  </div>
</nav>
