<nav
  class=" sticky top-0 mx-auto p-5 font-sans flex justify-between py-4 px-6 bg-green-600 shadow sm:items-baseline w-full mb-20"
>
  <div>
    <a href="/" class="text-2xl no-underline text-white hover:text-black"
      >EMS</a
    >
  </div>
    <ul class="flex flex-row">
      <a href="/new" class="pr-5 text-lg no-underline text-white hover:text-black"
        >Add</a
      >
      <a href="/list" class="pr-5 text-lg no-underline text-white hover:text-black"
        >List</a
      >
    </ul>
  </div>
</nav>
