<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <%- include('navbar') %>
    <h1 class="text-7xl font-bold" style="text-align: center">Manage</h1>
    <br />
    <p class="text-3xl font-light mb-20" style="text-align: center">
      View a specific employee's information from this page.
    </p>
  </body>
  <%- include('footer') %> <%- include('scripts') %>
</html>
