<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <%- include('navbar') %>
    <h1 class="text-7xl font-bold" style="text-align: center">Manage</h1>
  </body>
  <%- include('footer') %>
</html>
